<ul class="menu">
    <li class="menu-item">
        <div class="tile tile-centered">
            <div class="tile-icon">
            <img src="https://picturepan2.github.io/spectre/img/avatar-4.png" class="avatar" alt="Avatar">
            </div>
            <div class="tile-content">
            TBiz
            </div>
        </div>
    </li>
    <li class="divider"></li>
    <li *ngFor="let item of menus"
        class="menu-item">
        <div class="menu-badge">
        </div>
        <a routerLink="{{item.path}}">
            <i class="icon icon-link"></i> {{item.title}}
        </a>
    </li>
</ul>